<section class="footer">
  <div class="container">
    <div id="footer-content" class="row">
      <div class="five offset-by-three columns">
    <p>Copyleft 2016, Thomas R Storey</p>
  </div>
</div>
  </div>
</section>
