<form>
  <div id="footer-content" class="row">
    <div class="five offset-by-three columns">
      <h3>Sign Up</h3>
      <div class="row">
      <div class="eight columns">
        <input class="field" type="text" placeholder="email address"/>
      </div>
      <div class="four columns">
        <button class="button-primary field">SUBMIT</button>
      </div>
    </div>
    <p>Get quick and easy recipe updates delivered
       quickly and easily to your inbox.</p>
    </div>

  </div>
</form>
