<section>
  <div class="container">
    <div class="row">
    <h2 class="column-header">
      About
    </h2>
    <div class="eight offset-by-two columns body-text">
      <p>
        All of the recipes on this site are created, 'cooked' (processed) and then 'photographed' (rendered)
        by a computer program. The program draws together various ingredients,
        implements and techniques and recombines them in arbitrary ways, not bounded
        by physical limitations but instead by the linguistic genre structure of the
        recipe form. Unmoored from the material pecularities and concerns of various
        food ingredients and processes, the textual, literary form of the recipe is allowed
        to play for its own sake. It echoes the algorithmic 'recipe' that creates it, prescribing
        a series of steps and processes for a dynamic outcome, blurring the line between the realms
        of the virtual/abstract and the real/concrete.
      </p>
      <p>
        This site, 'Quick &amp; Easy Recipes', is the web-based component of
        a larger art installation titled 'Quick &amp; Easy Recipes for Disaster', an MFA
        thesis by artist Thomas R Storey. In that exhibition, participants used a
        an augmented reality application on a tablet to take photos of the virtual recipes produced
        by the site, mimicing the popular image-making practice of taking 'food pics'. Rather than
        consuming the food with fork and mouth, they performed an abstracted image consumption. Like the recipes,
        this calls into question the supposedly distinct boundaries of virtual and real by bringing
        the interface effect, the ubiquitous process of mediation, to the foreground.
      </p>
      <h2 class="column-header">
        Artist Statement
      </h2>
      <p>
        In Avatar Emergency, Gregory Ulmer takes up the task of inventing the conceptual
apparatus that mediates access to digital media. He calls this apparatus electracy. To
accomplish this task, Ulmer pulls together disparate theoretical strings, some of which are of
particular interest to my project. Paul Virilio provides motivation in the “general accident”. Paolo
Virno suggests a method in the “common places” of language, which Ulmer updates to the
electrate apparatus. Immanuel Kant provides the content of the system by likening the
immediate, convicted experience of reflective judgment to the faculty of taste, which I use as a
point of departure, a conductive bridge to the tropic figure of food.
In my artwork 'Quick &amp; Easy Recipes for Disaster', a hybrid media installation involving
Internet and augmented reality components produces randomly generated impossible recipes,
in both textual and 'cooked' 3D model form. Participants in the installation view the food online
as a typical recipe blog article, and as a 3D model tracked and projected onto a plate. The
conceptual circuit of the piece is completed by the gesture of the participant who consumes
the food by taking a 'food pic' of it and sharing it to social media. 'Quick &amp; Easy Recipes for
Disaster' is an aesthetic system that attempts to put into practice the conceptual apparatus of
electracy and to understand the aesthetic, experiential nature of social media and the Internet.

      </p>
    </div>
  </div>
  </div>
</section>
