<section>
  <div class="container">
    <div class="row">
    <h2 class="column-header">
      Community
    </h2>
    <div id="instagram" class="twelve columns body-text">

    </div>
  </div>
  </div>
</section>
<script src="js/qerdsockets-client.js" type="text/javascript"></script>
