<section>
  <div class="container">
    <div class="row">
    <h2 class="column-header">
      Recipes
    </h2>
    <div id="recipes-list" class="eight offset-by-two columns body-text">
      {{{renderRecipesList recipes}}}
    </div>
  </div>
  </div>
</section>
